/* ===================== SECCIÓN ACERCA DE MÍ ===================== */

.acerca-section {
    background-color: #000;
    color: #fff;
    padding: 80px 0;
    border-start-end-radius: 60px;
    margin-top: 10px;
}

.acerca-container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.acerca-container h2 {
    font-size: 36px;
    margin-bottom: 25px;
    font-weight: 700;
}

.acerca-container p {
    font-size: 20px;
    line-height: 1.7;
    font-weight: 300;
}

/* ===================== RESPONSIVE ===================== */
@media (max-width: 1140px) {
    
    .acerca-container h2 {
        font-size: 32px;
    }

    .acerca-container p {
        font-size: 20px;
        line-height: 1.6;
        padding: 0 10px;
    }

    .acerca-section {
        border-start-end-radius: 40px;
    }
}

@media (max-width: 480px) {
    .acerca-container h2 {
        font-size: 30px;
    }

    .acerca-container p {
        font-size: 18px;
    }

    .acerca-section {
        border-start-end-radius: 30px;
    }
}